.statistics {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &__item {
        text-align: center;

        &-chart {
            margin: 0 auto 10px auto;
            position: relative;
            height: 9.4167rem;
            width: 9.4167rem;
            @include atMedium {
                height: 7.0625rem;
                width: 7.0625rem;
            }
        }

        &-placeholder {
            canvas {
                height: 9.4167rem !important;
                width: 9.4167rem !important;
                @include atMedium {
                    height: 7.0625rem !important;
                    width: 7.0625rem !important;
                }
            }
        }

        &-value {
            font-size: 2.1875rem;
            font-family: $font-titles;
            color: $color-white;
            font-weight: 300;
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        & + & {
            margin-left: 3rem;
        }
    }
}